{% raw %}
    {% extends "base.html" %}
    {% block head %}{% endblock %}
    {% block body %}
        <main class="2xl:container mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-10 text-center">
            <h1 class="mt-20 mx-auto max-w-7xl leading-9 tracking-tighter text-gray-800 text-3xl font-bold md:text-4xl lg:text-6xl">
                Your project is live.
            </h1>
            <h2 class="leading-6 text-base mx-auto mt-4 max-w-5xl font-light text-gray-800 text-xl md:text-2xl">
                Your rocket is almost ready to launch!
            </h2>
            <div class="max-w-2xl my-20 mx-auto grid grid-cols-1 md:grid-cols-2">
                <dl class="p-4 text-left">
                    <dt class="text-xl md:text-2xl font-semibold">
                        Documentation
                    </dt>
                    <dd class="text-lg md:text-xl">
                        Visit our <a href="https://ernestofgonzalez.github.io/djangorocket"
    class="text-blue-600 hover:text-gray-800 font-semibold underline">documentation</a> for instructions on first steps to make your project ready for launch.
                    </dd>
                </dl>
                <dl class="p-4 text-left">
                    <dt class="text-xl md:text-2xl font-semibold">
                        Source code
                    </dt>
                    <dd class="text-lg md:text-xl">
                        Django Rocket is open source and is open to contributions from the community. Visit the <a href="https://github.com/ErnestoFGonzalez/djangorocket"
    class="text-blue-600 hover:text-gray-800 font-semibold underline">repo</a>.
                    </dd>
                </dl>
            </div>
            <p class="mx-auto mt-40 max-w-5xl leading-6 font-light text-gray-800 text-lg md:text-xl">
                We're open to feature requests, so if you have any <a href="https://github.com/ErnestoFGonzalez/djangorocket/issues"
    target="_blank"
    rel="noreferrer noopener"
    class="text-blue-600 hover:text-gray-800 font-semibold underline">open an issue</a>.
            </p>
        </main>
    {% endblock %}
{% endraw %}
