{% raw %}
    {% load static i18n compress tailwind_tags %}
    {% get_current_language as LANGUAGE_CODE %}
    <!DOCTYPE html>
    <html lang="{{ LANGUAGE_CODE }}" dir="ltr">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% block head %}{% endblock %}
            {% compress css %}
                {% tailwind_css %}
            {% endcompress %}
            <script src="https://js.stripe.com/v3/"></script>
            {% if stripe_publishable_key != None %}
                <script type="text/javascript">const stripe = Stripe("{{ stripe_publishable_key }}")</script>
            {% endif %}
            <link rel="icon"
                  type="image/svg+xml"
                  href="{% static 'img/favicon/favicon.svg' %}">
            <link rel="icon"
                  type="image/png"
                  href="{% static 'img/favicon/favicon.png' %}">
        </head>
        <body class="bg-gray-900 bg-gradient-to-br from-[#FFEFE0] to-white bg-fixed">
            {% block body %}{% endblock %}
        </body>
    </html>
{% endraw %}
