{% raw %}
    {% for error in form.non_field_errors %}
        <div role="alert" class="w-full bg-red-500 py-2 px-4 rounded">
            <span class="text-white">{{ error }}</span>
        </div>
    {% endfor %}
    <div class="col-span-1">
        <div >
            <label for="{{ form.password.id_for_label }}" class="mb-2 label">{{ form.password.label }}</label>
            <input id="id_password"
                   name="password"
                   type="password"
                   autocomplete="current-password"
                   required
                   class="block w-full input">
        </div>
        {% if form.errors.password %}
            <ul class="pt-0.5">
                {% for error in form.errors.password %}<li class="text-sm text-red-500">{{ error|escape }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-span-1">
        <div >
            <label for="{{ form.new_password.id_for_label }}" class="mb-2 label">{{ form.new_password.label }}</label>
            <input id="id_new_password"
                   name="new_password"
                   type="password"
                   autocomplete="new-password"
                   required
                   class="block w-full input">
        </div>
        {% if form.errors.new_password %}
            <ul class="pt-0.5">
                {% for error in form.errors.new_password %}<li class="text-sm text-red-500">{{ error|escape }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-span-1">
        <div >
            <label for="{{ form.new_password_confirm.id_for_label }}" class="mb-2 label">
                {{ form.new_password_confirm.label }}
            </label>
            <input id="id_new_password_confirm"
                   name="new_password_confirm"
                   type="password"
                   autocomplete="new-password"
                   required
                   class="block w-full input">
        </div>
        {% if form.errors.new_password_confirm %}
            <ul class="pt-0.5">
                {% for error in form.errors.new_password_confirm %}<li class="text-sm text-red-500">{{ error|escape }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
{% endraw %}
