{% raw %}
    <header class="2xl:container mx-auto px-4 md:px-16 py-8">
        <nav class="z-50 flex flex-col xl:flex-row gap-y-4 justify-between items-center">
            <div class="flex items-center">
                <a href="{% url 'index' %}"
                   aria-label="Home"
                   class="flex flex-row justify-center items-center">
                    <span class="text-2xl text-gray-800 font-semibold">Django Rocket</span>
                </a>
            </div>
            <div class="flex items-center gap-x-4 xl:gap-x-8">
                <a class="text-xs lg:text-base text-blue-600 font-semibold underline">About</a>
                <a href=""
                   class="text-xs lg:text-base text-blue-600 font-semibold underline">Pricing</a>
                <a href=""
                   class="hidden sm:flex text-xs lg:text-base text-blue-600 font-semibold underline">Support</a>
                {% if request.user.is_authenticated %}
                    <a href="" class="btn btn-white bg-transparent btn-small lg:btn-medium">
                        <span>Go to dashboard</span>
                    </a>
                {% else %}
                    <a href="{% url '{%- endraw -%}{{ cookiecutter.project_slug }}{%- raw -%}-auth:login' %}" class="btn btn-white bg-transparent btn-small lg:btn-medium">
                        <span>Log in</span>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>
{% endraw %}
