
    <footer class="2xl:container mx-auto px-4 md:px-16 py-8 md:py-16 grid grid-cols-1 gap-y-8 gap-x-32 lg:grid-cols-5">
        <div class="lg:col-span-2">
            <span class="text-xl text-gray-800 font-bold ">Te queremos dar la mejor experiencia.</span>
            <p class="mt-2 text-base text-gray-800 leading-snug">
                Cómo tú, somos emprendedores y sabemos lo importante que es tener una herramienta fácil de usar y entender. Así que si tienes preguntas o te hace falta ayuda, <a href="" class="text-blue-600 font-semibold underline">entra en contacto</a> y <span class="font-bold text-black">te respondemos en el mismo día.</span>
            </p>
        </div>
        <div class="lg:col-span-3 grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <h3 class="text-base font-bold text-gray-800">Producto</h3>
                <ul role="list" class="mt-2 space-y-1">
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Precios</a>
                    </li>
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Funcionalidades</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-base font-bold  text-gray-800">Empresa</h3>
                <ul role="list" class="mt-2 space-y-1">
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Sobre</a>
                    </li>
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Clientes</a>
                    </li>
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Newsletter</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-base font-bold text-gray-800">Recursos</h3>
                <ul role="list" class="mt-2 space-y-1">
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Soporte</a>
                    </li>
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Términos y condiciones</a>
                    </li>
                    <li>
                        <a href=""
                           class="text-blue-600 hover:text-gray-800 font-semibold underline">Política de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

